/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-font {
  font-family: "Poppins", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* reset style */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* shared style */
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
}
:root {
  --dark-gray: #3a3a3a;
  --white-gray: #ffffff;
  --primary-gray: #e02c6d;
  --fs-16: 1rem;
  --fs-28: 1.68rem;
  --fs-24: 1.44rem;
  --fw-bold: 700;
  --fw-semibold: 600;
  --line-auto: auto;
  --cursor: pointer;
}
.d-flex {
  display: flex;
}
.primary-btn {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 56px;
  background-color: #e02c6d;
  font-size: var(--fs-16);
  font-weight: var(--fw-bold);
  line-height: var(--line-auto);
  color: #fff;
  cursor: var(--cursor);
  background-image: url("../images/arrow-forward-1.png");
  background-repeat: no-repeat;
  background-position: 88% center;
}

/* header */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin-top: 5.22rem;
}
.navbar .navbar-brand {
  color: var(--dark-gray);
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
  line-height: var(--line-auto);
}
.navbar .navbar-nav {
  align-items: center;
  gap: 2.04rem;
  transition: 0.2s ease;
}
.navbar .nav-link {
  color: var(--dark-gray);
  font-size: var(--fs-16);
  font-weight: var(--fw-semibold);
  line-height: var(--line-auto);
}
.navbar .icons {
  align-items: center;
  gap: 2.04rem;
}
.navbar .icon {
  color: #000000;
  cursor: var(--cursor);
}
.navbar .icon1 {
  width: 24px;
  height: 24px;
}
.navbar .icon2 {
  width: 36px;
  height: 36px;
}

/* influencer */
.influencer {
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.influencer .influencer-content {
  max-width: 582px;
}
.influencer-content .influencer-title {
  color: var(--dark-gray);
  font-weight: var(--fw-bold);
  line-height: 70px;
  font-size: 3.12rem;
  margin-bottom: 1rem;
}
.influencer-content .influencer-text {
  color: var(--dark-gray);
  font-size: var(--fs-16);
  font-weight: var(--fw-semibold);
  line-height: var(--line-auto);
  margin-bottom: 1rem;
}
.influencer-content .primary-btn1 {
  border-radius: 41px;
}
.influencer .influencer-logo {
  background-image: url("../logos/Group.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 100% 100%;
}
.influencer-logo img {
  width: 100%;
  padding: 16px;
}

/* online-shopping */
.shopping {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}
